{% extends ":layouts:base.html.twig" %}

{% block title %}Commande | BDLOC{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset("css/catalogue.css") }}">
{% endblock %}

{% block main_content %}
    <h1>Votre commande</h1>
    <div id="commande">
        <!-- <div id="popup">
            <div id="croixFermeture"><img src="{ { asset("img/appearances/croix_fermeture.png") }}" alt="" /></div>
            <div id="popupContent"></div>
        </div> -->
        <p>Horaire de livraison (fictive): Vous trouverez vos BDs à l'adresse ci-dessous le {{ "now"|date_modify("+1 day")|date("d/m/Y") }} à partir de {{ "now"|date_modify("+1 day")|date("H") }}h.</p>
        <p>Adresse de livraison (fictive): {{ cart.user.dropspot.address }} - {{ cart.user.dropspot.zip }} PARIS <a href="{{ path('bdloc_app_account_editdropspot') }}" title="Modifier Point relais"><input class="modifierDropspot" type="button" value="Modifier Point relais"></a></p>
        <p>Nb de BD en cours de commande (fictive): {{ itemsNumber }} <a href="#listing" title="Liste de BD en cours de commande"><input class="listeBdCommandees" type="button" value="Liste de BD en cours de commande"></a></p>
        <p>Date de retour avant le (fictive): {{ "now"|date_modify("+15 day")|date("d/m/Y") }} à {{ "now"|date_modify("+15 day")|date("H") }}h.</p>
        <div id="listing">
            <h2 class="titreorange">Liste de vos BDs en cours de commande :</h2>
            <ul>
            {% for cartItem in cart.cartItems %}
                <li class="listeTitres">{{ cartItem.book.title }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div id="commander">
        <a href="{{ path('bdloc_app_cart_command') }}" title="Passer commande"><input class="passerCommande" type="button" value="Passer commande"></a>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/book.js') }}"></script>
{% endblock %}