<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bdloc !{% endblock %}</title>
        {% block stylesheets %}
            <!-- { % stylesheets 
                'css/style.css' filter="cssrewrite" %}
                <link rel="stylesheet" href="{ { asset_url }}">
            { % endstylesheets %} -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset("css/style.css") }}">
            <link rel="stylesheet" href="{{ asset("css/account.css") }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('faviconBdloc.ico') }}" />
    </head>
    <body>
        <div id="container">
            {% include ':layouts:header.html.twig' %}
            {% block sidebar %}{% endblock %}
            <main id="main">
                <div id="menuCompte">
                    <a href="{{ path('bdloc_app_account_home') }}" {% if app.request.getPathInfo == '/compte/' %} class="compteActive" {% endif %}><span class="glyphicon glyphicon-home"><span class="txt">Mon compte</span></span></a>
                    <a href="{{ path('bdloc_app_account_editinfo') }}" {% if app.request.getPathInfo == '/compte/modifier-informations-personnelles' %} class="compteActive" {% endif %}>Modifier mes informations personnelles</a>
                    <a href="{{ path('bdloc_app_account_editpassword') }}" {% if app.request.getPathInfo == '/compte/modifier-mot-de-passe' %} class="compteActive" {% endif %}>Modifier mon mot de passe</a>
                    <a href="{{ path('bdloc_app_account_editdropspot') }}" {% if app.request.getPathInfo == '/compte/modifier-point-relais' %} class="compteActive" {% endif %}><span class="glyphicon glyphicon-map-marker"><span class="txt">Modifier mon point relais</span></span></a>
                    <a href="{{ path('bdloc_app_account_editpaymentinfo') }}" {% if app.request.getPathInfo == '/compte/modifier-informations-paiement' %} class="compteActive" {% endif %}>Modifier mes informations de paiement</a>
                    <a href="{{ path('bdloc_app_account_history') }}" {% if app.request.getPathInfo == '/compte/consulter-historique-location' %} class="compteActive" {% endif %}>Consulter mon historique de locations</a>
                    <a href="{{ path('bdloc_app_account_showfinepaymentform') }}" {% if app.request.getPathInfo == '/compte/payer-amende' %} class="compteActive" {% endif %}>Payer une amende / Historique de paiements</a>
                    <a href="{{ path('bdloc_app_account_unsubscribe') }}" {% if app.request.getPathInfo == '/compte/se-desabonner' %} class="compteActive" {% endif %}>Me désabonner</a>
                </div>
                <div id="flash-messages">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-notice">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="flash-error">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
                {% block main_content %}{% endblock %}
            </main>

            <footer id="footer">
                <div><strong>&copy; {{ "now"|date("Y") }}</strong> BDLOC. Tous droits réservés. | MC.</div>
            </footer>
        </div>
        {% block javascripts %}
            <!-- { % javascripts 
                'js/jquery.js' output="main.js" filter="uglifyjs" %}
                <script src="{ { asset_url }}"></script>
            { % endjavascripts %} -->
            <script src="{{ asset('js/jquery.js') }}"></script>
        {% endblock %}
    </body>
</html>
