{% extends ":layouts:account.html.twig" %}
{% block title %}Compte | Historique | BDLOC{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset("css/account.css") }}">
{% endblock %}

{% block main_content %}
    <h1>Historique de location</h1>
    {% if carts is empty %}
        <p class="decale">Vous n'avez effectué aucune commande.</p>
    {% else %}
    <div id="allPaniers">
        {% for cart in carts %}
        <div class="paniers">
            <h2>Panier du {{ cart.dateModified|date("d/m/Y") }}</h2>
            {% for cartItem in cart.cartItems %}
                <div class="panierContent">
                    <p><img src="{{ asset("img/couverture/" ~ cartItem.book.cover ) }}" title="{{ cartItem.book.title }}" class="couvertureBDpanier" /></p>
                    <p class="titreBDpanier">{{ cartItem.book.title }}</p>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}