{% extends ":layouts:account.html.twig" %}
{% block title %}Compte | Amende | BDLOC{% endblock %}

{% block main_content %}
    <h1>Régler amende</h1>
    <div id="amende">
        {% if fines|length > 0 %}
            <h2>Vous avez une amende à payer !</h2>
            {% for fine in fines %}
                <div class="amendes">
                    <p>Motif : {{ fine.type }}</p>
                    <p>Description : {{ fine.description }}</p>
                    <p>Montant : <strong>{{ fine.amount }} €</strong></p>
                    <a href="{{ path('bdloc_app_payment_takefinepayment', {fineId: fine.id, cout: fine.amount}) }}" title="payer"><input class="payer" type="button" value="Payer"></a>
                </div>
            {% endfor %}
        {% else %}
            <p>Vous n'avez aucune amende à régler.</p>
        {% endif %}
        {% if payments|length > 0 %}
            <h2>Historique des mes paiements</h2>
            {% for payment in payments %}
                <div class="paiments">
                    <p><strong>Type :</strong> <span class="typeorange">{% if payment.type == "subscription" %}Abonnement{% elseif payment.type == "fine" %}Amende{% else %}Autre{% endif %}</span></p>
                    <p><strong>Montant :</strong> {{ payment.amount }} €</p>
                    <p><strong>Date :</strong> {{ payment.dateCreated|date("d/m/Y") }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}