{% extends ':layouts:base.html.twig' %}

{% block title %}Bdloc | Accueil{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset("css/catalogue.css") }}">
{% endblock %}

{% block sidebar %}
    <aside id="sidebar">
    {{ form(filterForm, {'attr': {'novalidate': 'novalidate'}}) }}
    </aside>
{% endblock %}

{% block main_content %}
    {{ form(filterPaginationForm, {'attr': {'novalidate': 'novalidate'}}) }}

    <div id="containerCatalogue">
        {% for book in books %}
            <div class="BdPost">
                <img src="{{ asset("img/couverture/" ~ book.cover ) }}" alt="{{ book.title }}" class="left couvertureBD">
                <div id="infos">
                    <p class="titreBd">{{ book.title }}</p>
                    <p class="titreBd">{{ book.serie.style }}</p>
                    <p class="auteur">{{ book.illustrator.lastName }} {{ book.illustrator.firstName }}</p>
                    <p class="coloriste">{{ book.colorist.lastName }} {{ book.colorist.firstName }}</p>
                    <p class="scenariste">{{ book.scenarist.lastName }} {{ book.scenarist.firstName }}</p>
                    {% if book.stock == 0 %}
                        <p class="indisponible">Indisponible...</p>
                        <a href="{{ path('bdloc_app_book_details', {id: book.id}) }}" title="Details de la BD {{book.id}}"><input class="details" type="button" value="Plus de détails !"></a>
                    {% elseif book.stock == 1 %}
                        <p class="disponible"><span class="bookStock">{{ book.stock }} dispo !</span></p>
                        <a href="{{ path('bdloc_app_book_details', {id: book.id}) }}" title="Details de la BD {{book.id}}"><input class="details" type="button" value="Plus de détails !"></a>
                        {% if book.id in booksIdInCart %}
                            <a href="" title="Dans votre panier"><input class="commander" type="button" value="Dans votre panier"></a>
                        {% else %}
                            <a href="{{ path('bdloc_app_cart_addbook', {book_id: book.id}) }}" title="Ajouter au panier"><input class="commander" type="button" value="Ajouter au panier !"></a>
                        {% endif %}
                    {% else %}
                        <p class="disponible"><span class="bookStock">{{ book.stock }} dispos !</span></p>
                        <a href="{{ path('bdloc_app_book_details', {id: book.id}) }}" title="Details de la BD {{book.id}}"><input class="details" type="button" value="Plus de détails !"></a>
                        {% if book.id in booksIdInCart %}
                            <a href="" title="Dans votre panier"><input class="commander" type="button" value="Dans votre panier"></a>
                        {% else %}
                            <a href="{{ path('bdloc_app_cart_addbook', {book_id: book.id}) }}" title="Ajouter au panier"><input class="commander" type="button" value="Ajouter au panier !"></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/book.js') }}"></script>
{% endblock %}