{% extends ":layouts:base.html.twig" %}

{% block title %}Inscription | BDLOC{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/dropspot.css') }}" rel="stylesheet" />
{% endblock %}

{% block main_content %}
    <div id="menuAbonnement">
        <ul>
            <li {% if app.request.getPathInfo == '/abonnement/inscription' %} class="etapeActive" {% endif %}>1.Informations personnelles</li>
            <li {% if app.request.getPathInfo == '/abonnement/choix-point-relais' %} class="etapeActive" {% endif %}>2.Choix du point relais</li>
            <li {% if app.request.getPathInfo == '/abonnement/choix-de-paiement' %} class="etapeActive" {% endif %}>3.Choix abonnement et paiement</li>
        </ul>
    </div>
    <h1 class="formTitle">Abonnement | Choix du point relais</h1>

    <script>
        var dropTab = []
        var add_user = "{{ add_user }}"
        {% for dropSpot in dropSpots %}
            dropTab.push({
                nom: "{{ dropSpot.nom }}", 
                lat: {{ dropSpot.lat }}, 
                lng: {{ dropSpot.lng }},
                add: "{{ dropSpot.add }}",
                zip: {{ dropSpot.zip }} 
            }) 
        {% endfor %}
    </script>


    <div id="map-canvas"></div>

    {{ form(dropspotForm, {'attr': {'novalidate': 'novalidate'}}) }}



{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="{{ asset('js/dropspot.js') }}"></script>
{% endblock %}