{% extends ":layouts:base.html.twig" %}

{% block title %}Connexion | BDLOC{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" />
{% endblock %}


{% block main_content %}
    <h1 class="formTitle">Connexion</h1>
    <form action="{{ path('login_check') }}" method="post" id="loginForm">
        <div>
            <label for="username">Pseudo ou email :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="_password" />
        </div>
        <!-- <input type="hidden" name="_target_path" value="{ { url('bdloc_app_book_catalogredirect') }}" /> -->
        <input type="hidden" name="_target_path" value="{{ url('bdloc_app_user_checksubscription') }}" />


        <button type="submit">Connexion</button>
        {% if error %}
            <div class="login_error">{% if error.message == "Bad credentials" %}Identifiant ou mot de passe invalide{% elseif error.message == "User account is disabled."%}Compte désactivé{% else %}{{ error.message }}{% endif %}</div>
        {% endif %}
    </form>
    <a href="{{ path('bdloc_app_user_forgotpasswordstepone') }}" id="mdpoublie">Mot de passe oublié ?</a>
    <div id="creerCompte" class="right">
        <a href="{{ path('bdloc_app_user_register') }}" id="abo"><img src="{{ asset("img/appearances/abo1.png") }}" alt="s'abonner"/></a>
    </div>
{% endblock %}