{% extends ":layouts:base.html.twig" %}

{% block title %}Inscription | BDLOC{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block main_content %}
    <div id="menuAbonnement">
        <ul>
            <li {% if app.request.getPathInfo == '/abonnement/inscription' %} class="etapeActive" {% endif %}>1.Informations personnelles</li>
            <li {% if app.request.getPathInfo == '/abonnement/choix-point-relais' %} class="etapeActive" {% endif %}>2.Choix du point relais</li>
            <li {% if app.request.getPathInfo == '/abonnement/choix-de-paiement' %} class="etapeActive" {% endif %}>3.Choix abonnement et paiement</li>
        </ul>
    </div>
    <h1 class="formTitle">Abonnement | Informations personnelles</h1>
    <p class="center">Adresse sur Paris uniquement...</p>
    {{ form(registerForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {# <p id="requis">* champs requis.</p> #}
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/register.js') }}"></script>
<script src="//maps.googleapis.com/maps/api/js?libraries=places"></script> <!-- https: type="text/javascript" -->
{% endblock %}