{% extends ":layouts:base.html.twig" %}

{% block title %}Inscription | BDLOC{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block main_content %}
    <div id="menuAbonnement">
        <ul>
            <li {% if app.request.getPathInfo == '/abonnement/inscription' %} class="etapeActive" {% endif %}>1.Informations personnelles</li>
            <li {% if app.request.getPathInfo == '/abonnement/choix-point-relais' %} class="etapeActive" {% endif %}>2.Choix du point relais</li>
            <li {% if app.request.getPathInfo == '/abonnement/choix-de-paiement' %} class="etapeActive" {% endif %}>3.Choix abonnement et paiement</li>
        </ul>
    </div>
    <h1 class="formTitle">Abonnement | Choix du paiement</h1>
    <div id="presentation2">
        <h2>Mode d'abonnement</h2>
        <h3 class="orange">Tarifs :</h3>
        <ul>
            <li>L’abonnement mensuel coûte le prix d’une seule BD : <span class="orange">12€</span> TTC.</li> 
            <li>Un abonnement annuel permet d’économiser 2 mois : <span class="orange">120€</span> TTC.</li>
        </ul>
    </div>
    <div id="presentationAbo">
        <h2>Choisissez votre type d'abonnement</h2>
        <p>*Il s'agit d'un site fictif d'utilisation de Symfony2, si vous rentrez un numéro de carte de crédit différent de celui pré-rempli (numéro de test), l'application vous représentera la même page.</p>
        <!-- <div id="choixAbo">
            <label><input type="radio" name="abonnement" value="mensuel">Mensuel</label>
            <label><input type="radio" name="abonnement" value="annuel" checked="checked">Annuel</label>
        </div>
        <p id="cout">Coût débité   <strong><span id="prix">120</span> €</strong></p> -->
        <p id="cout">Coût débité<strong><span id="prix">120,00</span> €</strong></p>
    </div>
    {{ form(creditCardForm, {'attr': {'novalidate': 'novalidate'}}) }}
    <!-- { { form_label(creditCardForm.expirationDate) }}
    { {  form_widget( creditCardForm.expirationDate.day, { 'attr': { 'style': 'display:none' } } )  }} -->

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/payment.js') }}"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script> <!-- https: type="text/javascript" -->
{% endblock %}